html, body{
  height: 100%;
}
body, h2, ul{
  margin: 0;
}
ul li{
  display: inline-block;
  text-decoration: none;
}
.hidden{
  display: none;
}
.wrapper{
  /*position: absolute;*/
  height: 100%;
  /*width: 100%;*/
  background: url('../../images/run.jpg') no-repeat center center;
  background-size: cover;
  /*margin: 0 auto;*/
}
.wrapper:after{
  content: '';
  display: block;
}

header h2, header ul{
  float: left;
}
/**************************************************************/
header{
  padding: 40px;
  position: relative;
  z-index: 4;
}
.logo{
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}
.forms{
  float: right;
}
.nav, .forms{
  line-height: 3.8em;
}
/**************************************************************/
article{
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  left: 0;
  right: 0;
}
/**************************************************************/
.search_result{
  padding: 10%;
  min-height: 260px;
  text-align: center;
}
.search_result{
  display: none;
}
.image{
  float: left;
  width: 38%
}
.movie_description{
  float: right;
  vertical-align: top;
  width: 58%;
}
.image .poster{
  width: 60%;
  height: 70%;
}
.movie_description:after{
  content: '';
  display: block;
  clear: both
}
/**************************************************************/
footer{
  width: 100%;
  background: #221334;
}
footer ul li{
  line-height: 70px;
  padding: 0 10px;
}
footer a{
  color: white;
}
/**************************************************************/
.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .8);
  text-align: center;
  z-index: 5;
  display: none;

}
.popup_signup, .popup_signin{
  width: 55%;
  height: 300px;
  position: absolute;
  top: 30%;
  left: 22%;
  margin-top: -40px;
  background: white;
  z-index: 10;
  display: none;
}

/**************************************************************/
.create_form_signup, .create_form_signin{
  text-align: center;
  padding: 20px;
}
.create_form_signup input, .create_form_signin input{
  margin-bottom: 20px;
}
