html, body{
  height: 100%;
  font-family: 'Ropa Sans', sans-serif;
}
body, h1, ul{
  margin: 0;
}
header, article, header a{
  color: white;
  text-decoration: none;
}

.hidden{
  display: none;
}
.wrapper{
  /*position: absolute;*/
  height: 100%;
  /*width: 100%;*/
  background: url('../../images/train.jpeg') no-repeat center center;
  background-size: cover;
  position: relative;
  /*margin: 0 auto;*/
}
.wrapper:after{
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5);
  z-index: 0
}
header, article{
  position: relative;
  z-index: 1;
}

/**************************************************************/
header{
  padding: 50px 30px;
}
header li{
  list-style: none;
}
.logo{
  border: 1px solid black;
  padding: 3px;
  background: white
}
.logo img{
  width: 100px;
  height: 80px;
}
.logo:hover{
  background-color: #E2E1E7;
}
.nav, .forms{
  vertical-align: top;
  line-height: 5.2em;
  padding-left: 0;
}
.nav{
  margin-left: 58%;
}
.logo, .nav li, .forms li, header ul{
  display: inline-block;
  text-decoration: none;
}
.nav li a, .forms li a{
  background: white;
  color: #DD3D3F;
  padding: 12px;
  font-weight: bold;
}
.nav li a:hover, .forms li a:hover{
  background-color: #E2E1E7;
}
.add_to_friends{
  border: none;
  padding: 10px;
  background: white;
  color: #DD3D3F;
}
.friends_options li{
  display: inline-block;
}
.friends_movies{
  background: white;
  color: #DD3D3F;
  padding: 10px;
}
/***************************************************************/
.options li{
  display: inline-block;
}
.welcome{
  border: 1px solid white;
  padding: 15px;
  font-size: 26px;
}
.prof_links{
  background: white;
  width: 235px;
  padding: 10px;
  margin-bottom: 10px;
}
.prof_links a{
  color: red;
}
.logout{
  position: absolute;
  right: 5%;
  text-decoration: underline;
  font-weight: bold;
}

/**************************************************************/
article{
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -70px;
  left: 0;
  right: 0;
}
article h2{
  font-size: 50px;
}
article input[type="text"]{
  width: 350px;
  border: none;
  padding: 10px 15px;
  color: black;
  font-size: 22px;
}
article input[type="submit"]{
  border: none;
  background: #9C9A9D;
  padding: 10px;
  font-size: 22px;
}
article input[type="submit"]:hover{
  color: #DD3D3F;
}
/**************************************************************/
.search_result{
  padding: 10%;
  min-height: 260px;
  text-align: center;
}
.search_result{
  display: none;
}
.image{
  float: left;
  width: 38%
}
.movie_description{
  float: right;
  vertical-align: top;
  width: 58%;
}
.image .poster{
  width: 60%;
  height: 70%;
}
.movie_description:after{
  content: '';
  display: block;
  clear: both
}
.add_to_watched{
  border: none;
  width: 10em;
  padding: 20px 20px;
}
.hidden{
  background: #D6D2D4;
  margin: 2%;
  margin-left: 45%;
  font-weight: bold;
}
.add_to_watched:hover{
  background: #C43B42;
  color: white
}
.back{
  padding: 18px 33px;
  text-decoration: none;
}
.back:hover{
  background: #8A9296;
  color: white;
}

/**************************************************************/
.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .6);
  text-align: center;
  z-index: 5;
  display: none;
}
.popup_signup, .popup_signin{
  width: 55%;
  height: 300px;
  position: absolute;
  top: 30%;
  left: 22%;
  margin-top: -40px;
  background: white;
  z-index: 10;
  display: none;
}
form input, form input{
  padding: 10px;
}
form .submit{
  background: #426563;
  border: none;
  color: white;
}
form .input{
  width: 300px;
}
.firends_name_link_to_profile{
  background: #C4C7C3;
  padding: 10px;
  text-decoration: none;
}
.search_people{
  background: white;
  width: 55%;
  height: 100px;
  position: absolute;
  top: 40%;
  left: 20%;
  margin-top: -40px;
  z-index: 10;
  padding: 30px;
  display: none;
  text-align: center;
}

.list_of_my_friends{
  background: white;
  width: 40%;
  height: 350px;
  position: absolute;
  top: 20%;
  left: 25%;
  z-index: 10;
  padding: 5%;
  overflow: scroll;
  display: none;
}

.popup_form{
  width: 400px;
  height: 400px;
  background: white;
  z-index: 10;
  display: none;
}

/**************************************************************/
.create_form_signup, .create_form_signin{
  text-align: center;
  padding: 20px;
}
.create_form_signup input, .create_form_signin input{
  margin-bottom: 20px;
}


/**************************************************************/

footer{
  width: 100%;
  background: #333030;
  text-align: center;
}
footer ul li{
  line-height: 70px;
  padding: 0 10px;
  list-style: none;
}
footer a{
  color: white;
}
.email{
  display: block;
}
.contact_left, .contact_right{
  display: inline-block;
}
.footer_wrapper{
  width: 70%;
  margin: auto;
  padding: 40px;
}
.contact_left{
  margin-right: 30%;
}
.contact_left input[type="text"]{
  width: 250px;
  padding: 13px;
}
.contact_left textarea{
  margin: 10px 0;
  width: 273px;
}
.contact_left .email_button{
  background: white;
  color: black;
  margin-top: 10px;
  padding: 10px;
  position: relative;
  top: 10px;
}
.contact_right{

}
.contact_right .follow{
  color: white;
  font-size: 22px;
}
.contact_right li{
  display: inline-block;
}
.contact_right i:hover{
  color: #DD3D3F;
}
/**************************************************************/





