body, h2, ul{
  margin: 0;
}
ul li{
  display: inline-block;
  text-decoration: none;
}
.wrapper{
  /*position: absolute;*/
  height: 100%;
  /*width: 100%;*/
  background: url('../../images/run.jpg') no-repeat center center;
  background-size: 100% 100%;
  /*margin: 0 auto;*/
}
.wrapper:after{
  content: '';
  display: block;
}

header h2, header ul{
  display: inline-block;
}
header{
  padding: 4%;
}
.logo{
  border: 1px solid black;
  padding: 2%;
  width: 10%;
  text-align: center;
}
.forms{
  margin-left: 50%;
}
article{
  text-align: center;
}
.search_result{
  padding: 10%;
  min-height: 260px;
  text-align: center;
}
.search_result{
  display: none;
}
.image{
  float: left;
  width: 38%
}
.movie_description{
  float: right;
  vertical-align: top;
  width: 58%;
}
.image .poster{
  width: 60%;
  height: 70%;
}
.movie_description:after{
  content: '';
  display: block;
  clear: both
}
footer{

  width: 100%;
  background: #221334;
}
footer ul li{
  line-height: 70px;
  padding: 0 10px;
}
/**************************************************************/