<div class="popup_form">
  <form class="form_comment" action="//comment" method="post">
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <input type="submit" value="create movie">
  </form>
</div>

<div class="overlay">
</div>