<div class="popup_signup">
  <form class="create_form_signup" action="/signup" method="post">
    <div class="row"><input type="text" placeholder="name" name="full_name"></div>
    <div class="row"><input type="email" placeholder="email" name="email"></div>
    <div class="row"><input type="password" placeholder="password" name="password"></div>
    <div class="row"><input type="submit" value="create account"></div>
  </form>
</div>

<div class="popup_signin">
  <form class="create_form_signin" action="/signin" method="post">
    <input type="hidden" name="_method" value="put">
    <div class="row"><input type="email" placeholder="email" name="email"></div>
    <div class="row"><input type="password" placeholder="password" name="password"></div>
    <div class="row"><input type="submit" value="sign in"></div>
  </form>
</div>

<div class="search_people">
  <form action="/search" method="get">
    <!-- <input type="hidden" name="_method" value="put"> -->
    <input type="text" class="search_name" name="name" placeholder="search person by name">
    <input type="submit" value="search">
  </form>
</div>

<div class="list_of_my_friends">
  <% @user.preys.each do |friend| %>
    <%= friend.full_name %>
  <% end %>
</div>

<div class="overlay">
</div>