<%= erb(:forms)%>
<div class='wrapper'>
  <header>
    <h1 class="logo"><img src="../../images/movie_logo.png" alt=""></h1>
    <ul class="nav">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <ul class="forms">
      <li>
          <a href="/signup" class="signup">SignUp</a>
      </li>
      <li>
          <a href="/signin" class="signin">SignIn</a>
      </li>
    </ul>
  </header>
  <article>
    <h2>Find movie that you have watched</h2>
    <form action="" method="get" class="search_form">
      <input name="title" class='title' type="text" placeholder="movie title">
      <input type="submit" value="search" class="search">
    </form>
  </article>
</div>
<%= erb(:search) %>
<footer>
  <ul>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">Pinterest</a></li>
    <li><a href="mailto:example@gmail.com">Contact us via Email</a></li>
  </ul>
</footer>