<div class='wrapper'>
  <header>
    <h2 class="logo">Logo</h2>
    <ul class="nav">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <ul>
      <li>
        <h3>Welcome <%= @user.full_name %></h3>
      </li>
    </ul>
  </header>
  <article>
    <h2>Find movie that you have just watched</h2>
    <form action="" method="get" class="search_form">
      <input name="title" class='title' type="text" placeholder="movie title">
      <input type="submit" value="search" class="search">
    </form>
  </article>
</div>
<%= erb(:search) %>
<footer>
  <ul>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">Pinterest</a></li>
    <li><a href="mailto:example@gmail.com">Contact us via Email</a></li>
  </ul>
</footer>