<div class="search_result">
    <div class="post-template">
      <div class="image">
        <img class="poster">
      </div>
      <div class="movie_description">
        <p class="title"><strong>Title: </strong><span></span></p>
        <p class="year"><strong>Year: </strong><span></span></p>
        <p class="duration"><strong>Duration: </strong><span></span></p>
        <p class="actors"><strong>Actors: </strong><span></span></p>
        <p class="director"><strong>Director: </strong><span></span></p>
        <p class="rating"><strong>Rating: </strong><span></span></p>
        <p class="trailer"><strong>Trailer: </strong><a target="_blank">Watch it</a></p>
      </div>
    </div>
  </div>
  <a href="#" class="hidden back">Back to Search</a>